{% extends 'base.html.twig' %}

{% block title %}Edit Emprunt{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Edit Emprunt</h1>

    <div class="container-fluid d-flex flex-column align-items-center">
        {{ include('emprunt/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="d-flex">
            <a href="{{ path('app_emprunt_index') }}" class="btn btn-outline-info">back to list</a>

            {{ include('emprunt/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
